{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="Video summarizer.">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

  <link rel="stylesheet" href="{% static "summarizer/css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "summarizer/css/milligram.min.css" %}">

  <link rel="stylesheet" href="{% static "summarizer/css/base.css" %}">
</head>

<body>
  <main>{% block content %}{% endblock %}</main>
</body>
</html>
